nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.left-buttons,
.right-buttons {
    display: flex;
    align-items: center;
}

.app-button,
.profile-button {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.app-button {
    font-weight: bold;
}

/* CSS for the "My Dressing" link */
.app-link {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    transition: background-color 0.3s ease;
    margin-right: 20px;
}

.app-link:hover {
    background-color: #0056b3;
}

.profile-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}